/*Maak hier jouw CSS!*/

.grid-container {
    background-color: #FFFFFF;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 50px 50px 50px 50px;
    grid-template-areas:
                "a"
                "b"
                "c"
                "d"
                "e"
                "."
                "f";
}

@media screen and (min-width: 576px) {
    .grid-container {
        background-color: #FFFFFF;
        display: grid;
        grid-gap: 16px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 190px 100px auto 50px;
        grid-template-areas:
            "a c c"
            "b c c"
            "b e d"
            "b e ."
            "f f f";
    }
}

.grid-item {
    padding: 8px;
    color: #ffefdb;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ba3d45;
    border-style: solid;
    border-color: #942f34;
    border-width: 2px;
    }



#a {
    grid-area: a;
}

#b {
    grid-area: b;
}

#c {
    grid-area: c;
}

#d {
    grid-area: d;
}

#e {
    grid-area: e;
}

#f {
    grid-area: f;
}